:root {
  --clr-primary: #FA4A0C;
  --clr-secondary: #252B42;
  --clr-text-secondary: #737373:
}

/* COLOR Utils */

.clr-primary {
  color: var(--clr-primary)
}

.clr-text-primary {
  color: var(--clr-secondary);
}

.clr-text-secondary {
  color: var(--clr-text-secondary);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}


/* NAV Additional styling */
@media (hover: hover) {
  li {
    position: relative;
  }

  li::after {
    background-color: var(--clr-primary);
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: width 250ms ease;
  }

  li:hover::after {
    width: 100%;
  }
}

.nav-dropdown {
  position: absolute;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 20px;
  width: 80vw;
  top: 132px;
  right: 0;
  text-align: end;
  padding: 20px;
  background-color: #bbb;

  transform: translateX(80vw);
  transition: transform .2s ease-in-out;
}

.nav-dropdown-show {
  transform: translateX(0);
}