:root {
  --clr-primary: #FA4A0C;
  --clr-secondary: #252B42;
  --clr-grey: #737373;
  --clr-mobile-bg: #FAFAFA;
  --clr-primary-hover: #ff6026;
}

/* COLOR Utils */
.clr-primary {
  color: var(--clr-primary)
}

.clr-secondary {
  color: var(--clr-secondary);
}

.clr-grey {
  color: var(--clr-grey);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-mobile {
  background-color: var(--clr-mobile-bg);
}


/* MORE Utils */
.content-max-width {
  max-width: 937px;
}

.lh-80 {
  line-height: 120px;
}

.button {
  border-radius: 27px;
  padding: 14px 32px;
  cursor: pointer;
}

.filled-button {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  color: #fff;
  transition-property: background-color, border;
  transition-duration: 150ms;
}

.outlined-button {
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  transition: background-color 150ms;
}



/* NAV Additional styling */
@media (hover: hover) {
  li {
    position: relative;
  }

  li::after {
    background-color: var(--clr-primary);
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: width 250ms ease;
  }

  li:hover::after {
    width: 100%;
  }

  .filled-button:hover {
    background-color: var(--clr-primary-hover);
    border: 1px solid var(--clr-primary-hover);
  }

  .outlined-button:hover {
    background-color: #ffffff22;
  }
}

nav {
  max-width: 1280px;
}

.nav-dropdown {
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 40px;
  width: 80vw;
  height: calc(100%);
  top: 132px;
  right: 0;
  text-align: end;
  padding: 40px 60px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -8px #000;
  clip-path: inset(0px 0px 0px -10px);
  font-size: 1.5rem;
  font-weight: 500;

  opacity: 0;
  transform: translateX(80vw);
  transition: transform .2s ease-in-out;
}

.nav-dropdown-show {
  opacity: 1;
  transform: translateX(0);
  transition: transform .2s ease-in-out;
}

/* Home additional styling */
.home-hero-image {
  position: absolute;
  left: 0;
  z-index: -1;

  height: 700px;
  width: 100vw;
  object-fit: cover;

  opacity: .92;
  image-rendering: optimizeQuality;
}

.app-preview-container {
  max-width: calc(350px + 15vw);
  min-width: 300px;
  min-height: calc(440px + 25vw);
}

.app-preview {
  position: absolute;
  width: 51%;

  filter: drop-shadow(0px 0px 16px #00000030);
  --webkit-filter: drop-shadow(0px 0px 16px #00000030);
}

.app-preview-left {
  z-index: 1;
}

.app-preview-right {
  right: 8px;
  top: 50px;
  width: 49%;
}

@media (max-width: 767px) {
  /* MOBILE specific*/

  .home-hero-image {
    display: none;
  }
}

@media (min-width: 768px) {
  /* DESKTOP specific */

  .app-preview-container {
    min-height: 700px;
  }
  
  .app-preview-inner-container {
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
  }

  .app-preview-left {
    top: -20px;
    left: 5px;
    rotate: -1deg;
  }
}